<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999816907124-ap6u1l3vi2nacol4v5tr7t183knrg7nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999816907124-ap6u1l3vi2nacol4v5tr7t183knrg7nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCDJLjXefglHZyTXQnjmxZ1wcszrdxz4G0</string>
	<key>GCM_SENDER_ID</key>
	<string>999816907124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawQuiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lawquiz-554b3</string>
	<key>STORAGE_BUCKET</key>
	<string>lawquiz-554b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999816907124:ios:66dc7da6733e07747ec421</string>
</dict>
</plist>